<div class="row blue-background fat-top pic-grid">
  {{#each images}}
  <div class="columns small-12 large-4">
  {{#each this}}
    <div class="row"><img src="assets/load.gif" data-src="{{this}}"></div>
  {{/each}}
  </div>
  {{/each}}
{{!--   <div class="columns small-12 large-4">
    <div class="row"><img src="assets/load.gif"></div>
    <div class="row"><img src="assets/load.gif"></div>
  </div>
  <div class="columns small-12 large-4">
    <div class="row"><img src="assets/load.gif"></div>
    <div class="row"><img src="assets/load.gif"></div>
  </div> --}}
</div>