<div class="row blue-background fat-top">
  <div class=" medium-10 medium-offset-1 large-8 large-offset-2 columns">
    <h1 class="text-center maize">Congratulations, Riya!</h1>
    <h4 class="text-center white">Riya will be a freshman at the <a href="https://michiganross.umich.edu/" target="_blank"> Ross School of Business </a> in Fall 2017.</h2>
  </div>
</div>
<div class="row blue-background">
  <div class="text-center">
    <img src="assets/blockm.png">
  </div>
</div>

<!-- Event template code -->
{{#each events}}
<div class="row">
  <div class=" medium-10 medium-offset-1 large-6 large-offset-3 columns">
    <div class="card event">
      <div class="card-divider text-center">
        <h2>{{eventTitle}}</h2>
      </div>
      {{#if eventImage}}
      <img src="{{eventImage}}" class="fill">
      {{/if}}
      <div class="card-section">
        <p>{{{eventDescription}}}</p>
      </div>
      <div class="card-divider text-center">
        <h3>{{eventDateDescription}}</h3>
      </div>
    </div>
  <div class="text-center">
    <img src="assets/event-marker.png" class="img-center">
  </div>
  </div>
</div>
{{/each}}
