<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='css/main.css' />
    <script type="text/javascript" src="js/main.js"></script>
    <link rel="shortcut icon" type="image/png" href="assets/favicon-96x96.png"/>
  </head>
  <body data-interchange="['assets/timeline-bg-small.png', small], ['assets/timeline-bg-medium.png', medium], ['assets/timeline-bg-large.png', large]">
    {{{body}}}
  </body>
</html>
